<!-- index.html -->
<!DOCTYPE html>
<html lang="ja">
  <head>
  </head>
  <body>
       <form action="/test" method="get">
      <button name="get_value" value="from get">get submit</button>
    </form>

    <form action="/test" method="post">
      <button name="post_value" value="from post">post submit</button>
    </form>
      
<img src="{{url_for('static', filename='snake.jpg')}}" alt="snake" />
<ul>
    {% for content in contents %}
    <li><a href="{{url_for('show_content', title=content.title)}}">{{content.title}}</a></li>
    {% endfor%}
</ul>
      
    <p>{{ s }}</p>
    <hr>

    <ul>
    {% for x in lis %}
      <li>{{ x }}</li>
    {% endfor %}
    </ul>
    <hr>

    <p>{{ "name: %s age: %s" % (dic["name"], dic["age"]) }}</p>
    <hr>

    {% if bl %}
      <p>True</p>
    {% else %}
      <p>False</p>
    {% endif %}
  </body>
</html>