{% extends "base.html" %}
{% block body %}
<h1>新規分析</h1>
<form action="{{ url_for('analysis') }}" method="post">
 
    <label>タイトル</label>
    <input class="form-control" type="text" size="30" name="title">
    <label>詳細</label>
    <input class="form-control" type="text" size="30" name="desc">

    <label>分析データ</label>
    <textarea class="form-control" name="data" rows="5"></textarea>
    <input class="btn btn-primary" type="submit" value="送信">
    <div>
    col1,col2,col3<br>
    100,200,300<br>
    300,400,100<br>
    200,100,100
    </div>
</form>
{% endblock %}